{% load static %}
{% load mathfilters %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href ="{% static 'style.css' %}?after">
    <title>Document</title>
</head>
<body>
    {% if detail_key.foodtype == '즉석식품류'%}
    <center><img src="../static/즉석식품.png" style="width: 250px; height: 250px;"></center>
    {% elif detail_key.foodtype == '면류'%}
    <center><img src="../static/면류.png" style="width: 250px; height: 250px;"></center>
    {% elif detail_key.foodtype == '조미식품'%}
    <center><img src="../static/조미식품.png" style="width: 250px; height: 250px;"></center>
    {% elif detail_key.foodtype == '잼류'%}
    <center><img src="../static/jam.png" style="width: 250px; height: 250px;"></center>
    {% elif detail_key.foodtype == '식육가공품 및 포장육'%}
    <center><img src="../static/국밥.png" style="width: 250px; height: 250px;"></center>
    {% elif detail_key.foodtype == '과자류, 빵류 또는 떡류'%}
    <center><img src="../static/과자류.png" style="width: 250px; height: 250px;"></center>
    {% else%}
    <center><img src="../static/milk-products.png" style="width: 250px; height: 250px;"></center>
    {% endif %}
    <div class="infobox">
        <center>
            <h2>상품명: {{detail_key.product_name}}</h2><br>
            <h3>탄수화물 : {{detail_key.carbohydrate}}g 권장 여성 한끼 섭취량: 35g</h3>
            {% if detail_key.carbohydrate < 35 %}
            <h3>{{35|sub:detail_key.carbohydrate}}g 이 모자랍니다!! <br> 다음 식사를 하실때, 참고해주세요 </h3>
            {% elif detail_key.carbohydrate > 35 %}
            <h3>{{detail_key.carbohydrate|sub:35}}g 이 초과되었습니다!! <br> 다음 식사를 하실때, 참고해주세요 </h3>
            {% endif %}
        </center>
</body>
</html>

