<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Boy</h1>
    <div class="container">
        <div class="container_content">
            <form action="{% url 'main_man' %}" enctype="multipart/form-data" method="POST">
                {% csrf_token %}
                <p>바코드번호: </p>
                <input type="text" name="barcode_num" required>
                <div class="button">
                    <input type="submit" value="바코드번호">
                </div>
            </form>
        </div>
    </div>   
</body>
</html>