{% load static %}
{% load mathfilters %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href ="{% static 'style.css' %}?after">
    <title>Document</title>
</head>
<style>
    body{
      margin: 0px;
      text-align: center;
      align-items: center;
      background-color: white;
    }
    .top{
      height: 130px;
      width: 100%;
      padding-top: 40px;
      text-align: center;
      background-color: #295C71;
    }
    .name{
      color : white;
      font-size: 30px;
      font-weight: 600;
    }
</style>
<body>
    <div class="top"><h2 class="name">{{detail_key.product_name}}</h2></div>
    <br>
    {% if detail_key.foodtype == '즉석식품류'%}
    <center><img src="../static/즉석식품.png" style="width: 250px; height: 250px;"></center>
    {% elif detail_key.foodtype == '면류'%}
    <center><img src="../static/면류.png" style="width: 250px; height: 250px;"></center>
    {% elif detail_key.foodtype == '조미식품'%}
    <center><img src="../static/조미식품.png" style="width: 250px; height: 250px;"></center>
    {% elif detail_key.foodtype == '잼류'%}
    <center><img src="../static/jam.png" style="width: 250px; height: 250px;"></center>
    {% elif detail_key.foodtype == '식육가공품 및 포장육'%}
    <center><img src="../static/국밥.png" style="width: 250px; height: 250px;"></center>
    {% elif detail_key.foodtype == '과자류, 빵류 또는 떡류'%}
    <center><img src="../static/과자류.png" style="width: 250px; height: 250px;"></center>
    {% else%}
    <center><img src="../static/milk-products.png" style="width: 250px; height: 250px;"></center>
    {% endif %}
    <div class="infobox">
        <center>
            <h3>칼로리 : {{detail_key.kcal}}kcal 권장 여성 한끼 칼로리: 570 ~ 700kcal</h3>
            {% if detail_key.kcal < 570 %}
            <h3>{{570|sub:detail_key.kcal}}kcal 이 모자랍니다!! <br> 다음 식사를 하실때, 참고해주세요 </h3>
            {% elif detail_key.kcal > 700 %}
            <h3>{{detail_key.kcal|sub:700}}kcal 이 초과되었습니다!! <br> 다음 식사를 하실때, 참고해주세요 </h3>
            {% elif 570 <= detail_key.kcal and detail_key.kcal <= 700 %}
            <h3>{{detail_key.kcal|sub:570}}kcal 정도 적정합니다!! <br> 다음 식사를 하실때, 참고해주세요 </h3>
            {% endif %}
        </center>
</body>
</html>

